html,
body {
  margin: 0;
  height: 100%;
  background-color: $background-color;
  font-family: Noto Sans;
}

h1,
h2,
h3 {
  font-family: Roboto;
}

/* recommended css code for vue-svgicon */
.svg-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  color: inherit;
  vertical-align: middle;
  fill: none;
  stroke: currentColor;
}

.svg-fill {
  fill: currentColor;
  stroke: none;
}

.svg-up {
  /* default */
  transform: rotate(0deg);
}

.svg-right {
  transform: rotate(90deg);
}

.svg-down {
  transform: rotate(180deg);
}

.svg-left {
  transform: rotate(-90deg);
}

.app-container {
  padding: 20px;
  margin: 50px;
  box-shadow: 0px 0px 20px 0px rgba(0, 21, 41, 0.2);

  h2,
  h3 {
    margin-left: 20px;
  }
}

.box-row {
  margin: 20px 20px 10px 20px;
  & > .el-col {
    padding: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0, 21, 41, 0.2);

    &:first-child {
      margin-right: 12.5px;
      width: calc(50% - 12.5px);
    }

    &:last-child {
      margin-left: 12.5px;
      width: calc(50% - 12.5px);
    }

    &:only-child {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }
  }
}

.box-row:first-child {
  margin: 20px 20px 10px 20px;
}

@media only screen and (max-width: 768px) {
  .app-container {
    padding: 5px;
    margin: 10px;
  }
}
